* {
    margin: 0;
}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 4em;
}

.container * {
    margin-top: 1em;
}

.container h2 {
    margin-top: 2em;
}

/* header image block */
.header-image {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url("assets/car-on-road.jpg");
    /* https: //www.pexels.com/photo/top-view-photo-of-curved-road-surrounded-by-trees-1834403/ */
    height: 50%;
    padding: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* align h1 vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image h1 {
    color: white;
}

/* navbar styles */
.topnav {
    position: fixed;
    z-index: 10;
    right: 0;
    width: 100%;
    text-align: right;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em;
}

.topnav a {
    display: block;
    color: white;
    text-decoration: none;
}

.topnav a:hover {
    color: green;
}

.team-card-container {
    display: flex;
    flex-wrap: wrap;
}

.team-card {
    /* this looked nice so I threw it in https://codepen.io/sdthornton/pen/wBZdXq */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin: 2em 2em 0 0;
    padding: 2em;
}

.team-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}

.team-card img {
    border-radius: 50%;
    max-height: 200px;
}

.team-card a {
    text-decoration: none;
    color: green;
}